<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'suppliers', 'Suppliers | Student Product Assignment')}">
<body>
<div style="margin: 1rem 0;">
    <span style="font-size: 3em;">Suppliers List</span>
    <span style="float:right; margin-top: 1rem;">
            <a th:href="@{'/suppliers/new'}"
               class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Supplier</a>
        </span>
</div>
<table class="responsive-table highlight">
    <tr>
        <th>#</th>
        <th>Supplier Number</th>
        <th>Supplier Name</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
    <tr th:each="supplier, i : ${suppliers}">
        <td scope="row" th:text="${i.count}">1</td>
        <td th:text="${supplier.supplierNumber}">1</td>
        <td th:text="${supplier.name}">Walmart</td>
        <td th:text="${supplier.contactPhoneNumber}">(123)456-7890</td>
        <td>
            <span><a th:href="@{'/suppliers/' + ${supplier.id}}">
                <i class="material-icons left">view_list</i></a></span>
            <span><a th:href="@{'/suppliers/' + ${supplier.id} + '/edit'}">
                    <i class="material-icons left">edit</i></a></span>
        </td>
    </tr>
</table>
</body>
</html>